.banner{
    height: 650px;
    background-color: darkgrey;
    background-image: url("image7.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner_content{
    background-color: rgba(255,255,255,0.7);
    display: flex;
    align-items: center;
}

.pad{
    padding: 30px;
}
.row1{
    height: 530px;
    background-color: rgb(49, 45, 45);
}

.mycontainer{
    height: 800px;
}
.myblock1{
    height: 800px;
    background-image: url("image8.jpeg");
    background-size: cover;
    display:flex;
    align-items: center;
}

.myblock1_content{
    background-color: rgba(255,255,255,0.7);
    display: flex;
    align-items: center;   
}
    
.maps{
    height: 800px;
}



